$background-color: #fafafa;
$btn-color: #0366d6;
$color-1: #28a745;

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;

  .h1-custom {
    font-size: 2rem;
    font-weight: 600;
  }

  .h2-custom {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .h3-custom {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .container-fluid {
    padding: 0;

    .upper {
      height: 7vh;

      nav {
        padding: 1rem;
        width: 100%;
        background-color: $background-color !important;

        .container-fluid {
          .navbar-item-btn {
            display: flex;
            justify-content: flex-end;

            .navbar-nav {
              gap: 1.5rem;

              .nav-link {
                font-weight: 500;
                font-size: 1rem;

                &.active {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }

    .lower {
      display: flex;
      height: 86vh;
      padding: 1rem;
      padding-top: 2rem;

      .profile-picture img {
        border-radius: 50%;
        width: 7.5rem;
        height: 7.5rem;
        object-fit: cover;
      }

      .details {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .basic {
          display: flexbox;
          text-align: center;

          .name {
            font-size: 1rem;
          }

          .second {
            font-size: 0.75rem;
          }
        }

        .social-media-account-list {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 0.25rem;
          flex-wrap: nowrap;

          a {
            text-decoration: none;
            display: flex;
            align-items: center;

            img {
              width: 2rem;
              height: 2rem;
              border-radius: 50%;
              transition: transform 0.3s ease-in-out;
            }

            span {
              color: black;
              font-size: 0.8rem;
              margin-left: 0.5rem;
            }
          }
        }

        .about-buttons {
          gap: 0.75rem;
          margin-top: 0.75rem;

          .custom-button {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            background-color: $btn-color;
            color: #fff;
            padding: 0.4rem 0.7rem;
            border-radius: 0.25rem;
            font-weight: 500;
            text-decoration: none;
            transition: background 0.2s ease-in-out;

            &:hover {
              background-color: #024ea2;
            }

            .button-icon {
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }
    }

    .information-container {
      padding-left: 2rem;
      padding-right: 2rem;
      overflow-y: auto;

      .section-content {
        padding: 2rem;
        background: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .section-heading {
          margin-bottom: 1rem;
        }

        .section-detail-box {
          &:not(:last-child) {
            margin-bottom: 2.5rem;
          }

          .project-name-box {
            display: flex;
            gap: 0.5rem;

            .name {
              font-size: 1.25rem;
            }

            .project-label {
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 1rem;
              margin-top: auto;
              margin-bottom: auto;
              font-size: 0.75rem;
              font-weight: bold;
              padding: 0.25rem 0.5rem;
              border-radius: 0.25rem;
              text-transform: uppercase;
            }

            .project-label.group {
              background-color: $btn-color; /* Blue */
              color: white;
            }

            .project-label.individual {
              background-color: $color-1; /* Green */
              color: white;
            }
          }

          .timeline {
            font-size: 0.9rem;
            color: #555;
          }

          .project-description {
            padding: 1rem;
            background-color: #f4f4f4;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

            ul {
              padding-left: 1rem;
              margin: 0;

              li {
                padding: 0.25rem 0;

                &:last-child {
                  border-bottom: none;
                }
              }
            }
          }

          .github-link {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.25rem 0.5rem;
            background-color: #24292e;
            color: #ffffff;
            font-size: 0.75rem;
            font-weight: bold;
            text-decoration: none;
            border-radius: 0.3rem;
            border: none;
            transition: background 0.3s ease;
            margin-top: 1rem;
            margin-bottom: 0.5rem;

            .github-icon {
              width: 1rem;
              height: 1rem;
            }

            &:hover {
              background-color: #333;
            }
          }

          .publication-link {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            background-color: #0366d6;
            color: #fff;
            padding: 0.25rem 0.5rem;
            border-radius: 0.3rem;
            font-weight: bold;
            text-decoration: none;
            font-size: 0.75rem;
            transition: background 0.2s ease-in-out;
            margin-top: 1rem;
            margin-bottom: 0.5rem;

            &:hover {
              background-color: #024ea2;
            }

            .publication-icon {
              width: 1rem;
              height: 1rem;
            }
          }

          .projects {
            a {
              text-decoration: none;
            }
          }
        }

        .about-container {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          border-radius: 0.5rem;

          .about-text {
            font-size: 1rem;
            line-height: 1.6;
            color: #333;

            p {
              text-align: justify;
            }

            .skills-container {
              .skills-list-item {
                margin-top: 1rem;

                .skill-icons {
                  display: grid;
                  grid-template-columns: repeat(18, 1fr); /* 18 icons per row */
                  justify-items: center;
                  margin-bottom: 1.5rem;

                  .skill-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative; /* Needed for label positioning */
                    width: 3rem;

                    &:hover span {
                      display: block; /* Show label on hover */
                    }

                    img {
                      width: 2rem;
                      height: 2rem;
                      object-fit: contain;
                      transition: transform 0.3s ease-in-out;

                      &:hover {
                        transform: scale(1.1);
                      }
                    }

                    span {
                      display: none; /* Hide label by default */
                      position: absolute;
                      bottom: -2rem;
                      background-color: rgba(0, 0, 0, 0.8);
                      color: white;
                      font-size: 0.75rem;
                      padding: 0.25rem 0.5rem;
                      border-radius: 4px;
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .back-to-top {
        position: fixed;
        bottom: 1.5rem;
        right: 2rem;
        z-index: 1000;
        display: none;
        background-color: #007bff;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: opacity 0.3s, transform 0.3s;
      }

      .back-to-top:hover {
        background-color: #0056b3;
      }

      .back-to-top.show {
        display: block;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    font-size: 0.875rem;
    height: 7vh;
  }
}
